.chatContainer {
    width: 100%;
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;       
}

.chatBox {
    height: 90vh;
    width: 88%;
    background-color: #edf8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 0 10px;
}

.firstDisplay {
    
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 300px;
    font-weight: 600;

}

.contactContainer {
        width: 20vw;
        height: 82vh;        
        border-radius: 10px;
        overflow: auto;
        padding: 10px;
        background-color: #edf8f8;
        border: 1px solid rgb(211, 210, 210);
        color: white;
        font-size: 15px;
}

.contactContainer h2 {
    margin: 0;
    color: Black;
    font-weight: 500;
}



.contactContainer p {
    color: white;
}

.mainChatContainer {
    width: 42vw;
    height: 82vh;        
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #edf8f8;
    border: 1px solid rgb(211, 210, 210);
}


.sideBarContainer {
    width: 20vw;
    height: 86vh;        
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: center;
    background-color: #edf8f8;
    border: 1px solid rgb(211, 210, 210);
    
}

.sideBarOptions {

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    color: white;

}
.sideBarOptions div { 
    background-color: #04F06A;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    
}

.sideBarContainer h3 {
    margin: 0;
    color: Black;
    font-weight: 500;
}



.profileImg {
    width: 150px;
    height: 150px;
    background-color: rgb(0, 0, 0);
    margin-top: 5%;
    border-radius: 200px;
    border: 3px solid #00740f;    
    object-fit:scale-down;
}


.contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    color: black;

}

.contact div { 
    
    width: 100%;
    
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: #04F06A;
    color: white;
}



.contactClassImg {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 2% 0;
    padding: 2px;
    border-radius: 100px;
    object-fit:scale-down;
    border: 2px solid #00740f;    
    
     
}

.contactClassName {
        color: black;
}
.contactClass p { 
    color: white;
}

.mainChat {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
     overflow-x: hidden;
   overflow-y: scroll;
 
    
}
.mainChat::-webkit-scrollbar {
    display: none;
}
.chatInputContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emoji {
    color: yellow;
    margin: 5px;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;

}

.emoji-picker-react { 
    background-color: black;
    margin: auto;
}
.msgInputForm {
    display: flex;
    flex-direction: row;
    width: 97%;
}

.chatInput {
    width: 100%;
    height: 5vh;
    align-self: flex-end;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: 0px;
    margin: 5px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid rgb(80, 80, 80);
    background-color: #edf8f8;
}

.chatButton {
    width: 15%;
    height: 5vh;  
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #04F06A;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.parentBox {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
     overflow-x:auto;
   overflow-y: hidden;
   position: relative;
}

.currentSelectedCt {
    background-color: #04F06A;
        width: 100%;
        height: 9%;
        border-radius: 5px; 
        margin: 1px;
        display: flex;
        justify-content:space-evenly;
        flex-direction: row;
        align-items: center;     
        
        
}
.currentSelectedCt h2 {
    font-weight: 400;
}

.currentContactImg {
    
    width: 50px;
    height: 50px;
    background-color: white;
    margin-top: 0 2%;
    padding: 2px;
    border-radius: 100px;
    object-fit:scale-down;
}

.receivingMsg {
        background-color: rgb(26, 26, 204);
        width: 50%;
        
        margin: 1% 5%;
        border-radius: 10px;
        color: white;
        padding: 1%;
        float: left;
        word-wrap: break-word; 
        background-color: rgb(17, 97, 53);
}

.sendingMsg {
        float: right;
        background-color: rgb(37, 202, 111);
        width: 50%;
        margin: 1% 5%;
        border-radius: 10px;
        padding: 1%;
        color: white;
        word-wrap: break-word; 
        
        
}
.time {
    font-size: 0.7rem;
    float: right;
    margin: 15px 0 0 0;
    color: rgb(173, 173, 173);
}


@media(max-width: 700px) {

    .chatContainer {
        width: 90%;
        height: 100%;    
        display: flex;
    justify-content: center;
    align-items: center;   
    margin: auto; 
    }
    .chatContainer div {
        margin: 10px 0;  
        
    }


    .chatBox {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        
    }

    .contactContainer {
        width: 85vw;
        height: 15vh;        
        display: flex;
        overflow: auto;
        margin: 0;
        margin-bottom: 200px;
        
}

.mainChatContainer {
    width: 95%;
    height: 10%;        
    flex-direction: column;
    align-items: center;
}


.sideBarContainer {
    width: 100%;
    height: 80%;        
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1.5rem;
    align-items: center;
    
    
}

.sideBarOptions {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    

}
.sideBarOptions div { 
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    
}


.profileImg {
    width: 100px;
    height: 100px;
    
    margin-top: 2%;
}


.contact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    
    
}

.contact div { 
    background-color: transparent;
    width: 22vw;
    height: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    
}

.contact h2 {
   
    margin: 2%;
    font-size: 1rem;
    font-weight: 500;
}

.contactClassImg {
    width: 50px;
    height: 50px;
    
    padding: 2px;
    border-radius: 100px;
    object-fit:contain;
    
}

.parentBox {
    width: 100%;
    height: 65vh;
    border-radius: 10px;
     overflow-x: hidden;
   overflow-y: hidden;
  
 
}


.mainChat {
    width: 95%;
    height: 60vh;
    border-radius: 10px;
}


.msgInputForm {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chatInput {
    width: 100%;
    height: 5vh;
    align-self: flex-end;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    font-size: 20px;

}

.chatButton {
    width: 20%;
    height: 5.5vh;  
    align-self: flex-end;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
}


.currentSelectedCt {
       
        width: 95%;
        height: 8vh;
        border-radius: 10px;
        margin-left: 0;
        align-self: center; 
        
}

.currentSelectedCt h2 {
   
    font-size: 1rem;

}

.currentContactImg {
    width: 50px;
    height: 50px;
    margin-top: 0%;
    padding: 2px;

}
.receivingMsg {
    width: 50%;
    margin: 1% 0%;    
    padding: 2% 2% 0 2%;
    font-size: 0.9rem;
    
}

.sendingMsg {
    width: 50%;
    margin: 1% 1%;
    padding: 2% 2% 0 2%;
    font-size: 0.9rem;
}
.time {
font-size: 0.7rem;
margin: 20px 0 0 0;

}

.emoji {
    margin: 0px;
    font-size: 1.5rem;
    cursor:pointer;

}

.emoji-picker-react { 
  
}

.firstDisplay {

        top: 250px;
}



}